@use "./variables" as *;
@use "./mixins" as *;


.comment {

    &__label, &__input, &__btn {
        width: 80%;
        max-width: 550px;
    
    }

    &__label {
        color: $secondary-text;
    }

    &__input {
        background-color: $alt-bg;
        border: solid 1px $divider-color;
        padding: 16px;
        border-radius: 4px;
        margin-bottom: 20px;
        
       
        
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: end;
        width: 90%;
        max-width: 600px;
        
        &>textarea {
            height: 150px;
        }
        
        & * {
            box-sizing: border-box;
        }

    }

    &__header {
        width: 77%;
        max-width: 782px;
       
    }

    &__name-container {
        max-width: 550px;
        width: 80%;
        position: relative;

        & input {
            width: 100%;
        }
        
    }

    &__section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    
        
    }

    &__user-img {
        @include userImage;
    }



    &__btn {
        background-color: $primary-text;
        color: $light-text;
        margin-bottom: 20px;
        padding: 20px 0;
        @include avenir-regular(1rem);
        text-align: center;
        border-radius: 4px;
        max-width: 275px;
        font-size: 1.2rem;
        border: none;
    }
}

input[type='text'] {

    @include avenir-regular(1rem)
}

textarea[type='text'] {
    @include avenir-regular(1rem);

}

textarea::placeholder {
    color: black;
}