@use "./variables" as *;

.footer {

    background-color: $primary-text;
    color: $light-text;
    &--tablet-header {
        display: none;
    }

    &__logos {
        display: flex;
        justify-content: space-between;
        width: 40%;
    }

    &__name {
        margin-top: 20px;

        & p {
            margin: 0;
            line-height: 1.5rem;
        }
    }


    &__info, &__email {
        margin: 20px 0;
        color: $secondary-text;
        

        & p {
            margin: 0;
            line-height: 1.5rem;
        }
    }

    &__container {
        width: 90%;
        margin: 0 auto;
        max-width: 1400px;
    }

    &__header {
        padding-top: 30px;
        font-size: 2.5rem;
        margin-top: 0;
        font-family: avenir;
        font-weight: 600;
        text-align: start;
        
    }

    &__end-header {
        margin-top: 100px;
        color: $secondary-text;
        font-size: 2rem;
    }

    &__copyright {
        margin: 0;
        padding-bottom: 16px;
        color: $secondary-text;
        font-size: 0.9rem;
    }
}

@media (min-width:768px) {
    .footer__container {
        display: flex;
        flex-direction: column;
        
        
    }


    .footer--tablet {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
         & > * {
            width: 30%;
            
         }

         &:first-child {
            align-content: center;
         }

    }

    .footer__logos  {
        width: 10%;
        
        
        & img {
            width: 24px;
            height: 24px;
            
        }
        
    }

    .footer--tablet-header {
        display: block;
        width: 33%;
        text-align: end;
        font-size: 2rem;
        flex-grow: 1;
    }

    .footer__end-header {
        display: none;
    }

    .footer__copyright {
        padding: 70px 0;
        width: 100%;
    }

    .footer__container-info {
        max-width: 275px;
        min-width: 220px;
    }

    .footer__header {
        max-width: 275px;
    }
}