@use "./variables" as *;

.gallery {
    background-color: $alt-bg;
    margin: 0 auto;
    
    

    &__container {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 30px;
        max-width: 1400px;
        padding-bottom: 30px;
        

        
    }

    &__header {
        margin: 0 auto;
        padding: 30px 0;
        width: 90%;
        font-size: 3rem;
        max-width: 1400px;
        
    }

    &__img {
        height: 250px;
        flex: 0 0 30%;
        min-width: 340px;
        
        background-size: cover;
        &--1 {
            background-image: url(../../assets/images/Photo-gallery-1.jpg);
            
            
        }
        &--2 {
            background-image: url(../../assets/images/Photo-gallery-2.jpg);
        }
        &--3 {
            background-image: url(../../assets/images/Photo-gallery-3.jpg);
        }
        &--4 {
            background-image: url(../../assets/images/Photo-gallery-4.jpg);
        }
        &--5 {
            background-image: url(../../assets/images/Photo-gallery-5.jpg);
        }
        &--6 {
            background-image: url(../../assets/images/Photo-gallery-6.jpg);
        }
        &--7 {
            background-image: url(../../assets/images/Photo-gallery-7.jpg);
        }
        &--8 {
            background-image: url(../../assets/images/Photo-gallery-8.jpg);
        }
        &--9 {
            background-image: url(../../assets/images/Photo-gallery-9.jpg);
            margin-bottom: 20px;
        }
        
    }
}

