@use "./variables" as *;

.gallery {
    background-color: $alt-bg;
    margin: 0 auto;
    
    

    &__container {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 30px;
        max-width: 1400px;
        padding-bottom: 30px;
        justify-content: center;
        
        
        

        
    }

    &__header {
        margin: 0 auto;
        padding: 30px 0;
        width: 90%;
        font-family: avenir;
        font-weight: 600;
        font-size: max(3vw, 2rem);
        max-width: 1400px;
        
        
    }

    &__img {
        height: 250px;
        flex: 0 0 30%;
        min-width: 300px;
        object-fit: cover;
        object-position: center;
        
        
    }
}

@media (min-width:1210px) {
    .gallery__container {
        
        justify-content: start;
       
    }

    .gallery__img {
        flex-grow: 1;
    }


}