@use "./variables" as *;
@use "./mixins" as *;

.navbar {
    
    background-color: $primary-text;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100px;
    padding-top: 20px;
    justify-content: center;
    

    

    &__header {
        color: $light-text;
        font-size: 2rem;
        margin: 0;
    }

    &__list {
        display: flex;
        padding-left: 0;
        justify-content: space-around;
        
    }

    &__item {
         width: 50%;
         list-style: none;

        & a {
            color: $secondary-text;

            &:active {
                text-decoration: none;
                color: $secondary-text;
            }
            &:link {
                text-decoration: none;
                color: $secondary-text;
            }
        }
        

    }
}

@media (min-width:768px) {

    .navbar {
        
        &__list {
            display: flex;
            flex-direction: row;
            gap:3rem;
            text-align: center;
            
        }
        &--tablet {
            align-items: center;
            display: flex;
            flex-direction: row;
            width: 60%;
            justify-content: space-around;
        }
        
    }
    
}