@use "./variables" as *;
@use "./mixins" as *;

.hero {
    @include hero-format();
    background-image: url(../../assets/images/hero-bio.jpg);

    &--overlay {
        @include overlay;  
        display: flex;
        align-items: center;
    }

    &__header {
        margin: 0;
        @include avenir-demi( max(5vw, 1.75rem));
        color: $light-text;
        padding-left: 5%;
        
    }

}