@use "./variables" as *;
@use "./mixins" as *;

.hero {
    background-image: url(../../assets/images/hero-bio.jpg);
    height: 40vw;
    background-size: cover;
    align-items: center;

    &--overlay {
        @include overlay;  
        display: flex;
        align-items: center;
    }

    &__header {
        margin: 0;
        color: $light-text;
        padding-left: 5%;
        font-size: max(5vw, 1.75rem);
    }

}