@use "./variables";

.content {
    
    text-align:start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .flex-container {
        display: flex;
        flex-direction: column;
        max-width: 1100px;
        width: 90%;
        align-self: center;
      }

    &__header {
        font-family: avenir bold;
        font-size: 1.75rem;
        align-self: center;
        width: 90%;
        max-width: 1300px;
        margin: 50px 0;
        
    }

    &__img {
        background-image: url(../../assets/images/band.jpg);
        background-size: cover;
        width: 100%;
        max-height: 550px;
        object-fit: cover;
        object-position: bottom;
        
        
    }

    &__info-header {
        font-size: 1.1rem;
    }

    &__quote {
        line-height: 30px;
        
        font-family: avenir demi;
    }

    &__quote-author {
        font-family: avenir demi;
    }

    &__info {
        line-height: 26px;
    }
    
}

@media (min-width:768px) {
    .content__container {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    
}

@media (min-width:960px) {


    .content__quote {
        width: 80%;
    }
}

