@use "./variables";
@use "./mixins" as *;

.content {
    
    text-align:start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .flex-container {
        display: flex;
        flex-direction: column;
        max-width: 1100px;
        width: 90%;
        align-self: center;
      }

    &__header {

        @include avenir-demi(2.25rem);
        align-self: center;
        width: 90%;
        max-width: 1300px;
        margin: 50px 0;
        
    }

    &__img {
        width: 100%;
        max-height: 550px;
        object-fit: cover;
        object-position: bottom;
        
    }

    &__info-header {
        @include avenir-bold(1.5rem)
    }

    &__quote {
        line-height: 30px;
        @include avenir-demi(1.5rem);
    }

    &__quote-author {
        @include avenir-demi(1.25rem);
        margin-top: 0;
        margin-bottom: 3rem;
    }

    &__info {
        line-height: 26px;
    }
    
}

@media (min-width:768px) {
    .content__container {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}

@media (min-width:960px) {


    .content__quote {
        width: 80%;
    }
}

