@use "./variables";

.content {
    width: 90%;
    text-align:start;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto;


    &__header {
        font-family: avenir bold;
        font-size: 1.75rem;
        
    }

    &__img {
        background-image: url(../../assets/images/band.jpg);
        background-size: cover;
        
        height: 200px;
    }

    &__info-header {
        font-size: 1.1rem;
    }

    &__quote {
        line-height: 30px;
        
        font-family: avenir demi;
    }

    &__quote-author {
        font-family: avenir demi;
    }

    &__info {
        line-height: 26px;
    }
    
}

@media (min-width:768px) {
    .content__container {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .content__img {
        height: 400px;
        width: 100%;
    }
}

@media (min-width:960px) {
    .content__img {
        height: 600px;
    }

    .content__quote {
        width: 80%;
    }
}

