@use "./variables" as *;


@mixin overlay {
    background-color: rgb(50, 50, 50, 0.5);
    width: 100%;
    height: 100%;   
}

@mixin avenir-bold ($size){
    font-family: avenir;
    font-weight: 700;
    font-size: $size;

}

@mixin avenir-demi ($size){
    font-family: avenir;
    font-weight: 600;
    font-size: $size;
}

@mixin avenir-regular($size) {
    font-family: avenir;
    font-weight: 400;
    font-size: $size;
}