@use "./mixins" as *;
@use "./variables" as *;

.--invisible {
    display: none;
}

.--absolute {
    display: none;
}
.shows {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &>:first-child {
        border-bottom: none;
    }
    
    &__container-headers {
        display: none;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $divider-color;

        &:last-child {
            margin-bottom: 20px;
        }
        
    }

    &__form {
        width: 90%;
        align-self: center;
        justify-content: center;
    
    

        & > p:nth-child(2) {
            font-weight: 600;
        }
    }

    &__header {
        width: 90%;
        align-self: center;
        font-size: 2rem;
    }

    &__hidden-header {
        display: none;
        width: 90%;
        align-self: center;
        font-size: 2rem;
    }

    &__header-info {
        color: $secondary-text;
        @include avenir-demi(0.8rem);
    }

    &__ticket-btn {
        width: 100%;
        background-color: $primary-text;
        color: $light-text;
        padding-top: 20px;
        padding-bottom: 16px;
        @include avenir-regular(1rem);
        border-radius: 4px;
        font-size: 1.2rem;
        border: none;
        max-width: 400px;
        
    }

    &__main-section {
        margin-top: 100px;
    }

}

@media (min-width:768px) {
    

    .shows {

        &__placeholder {
            color: transparent;
            min-width: 250px;
        }

        &__header-info {
            display: none;

        }
        
        &__form {
            display: flex;
            flex-direction: row;
            
            justify-content: space-around;
            align-items: center;
            margin: 20px 0;
        }

        &__ticket-btn {
            margin: 0;
            width: 250px;
            min-width: 250px;
            @include avenir-demi(1.5rem);
            
        }

        &__container {
            max-width: 1268px;
            margin-right: 20px;

            &-headers {
                display: flex;
                margin-right: 20px;
                width: 90%;
                align-self: center;
                margin: 0;
                @include avenir-regular(0.8rem);
                color: $secondary-text;

                & > * {
                    flex: 25%;
                }
            }
        } 
        &__form > * {
            flex: 25%;
        }

        &__form div {
            min-width: 139px;
        }
    }
}

@media (min-width:$large-pc) {
    .--invisible {
        display: block;
    }
    .--absolute {
        
        display: block;
        margin: 0;
        font-size: 3rem;
        
        flex-grow: 1;
        text-align: center;
    }

    
    .shows {
        &__main-section {
            display: flex;
            justify-content: end;
        }        

        &__hidden-header {
            display: none;
        }

        &__header {
            display: none;
        }

        

        &__container {
            align-self: flex-end;
            width: 1268px;
            position: relative;

            
            }

        }
        
    }
