
$primary-text: #323232;
$secondary-text: #AFAFAF;
$light-text: #FFFFFF;
$hover-color: #000000;
$divider-color: #E1E1E1;
$alt-bg: #FAFAFA;

@font-face {
    font-family: avenir bold;
    src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
}

@font-face {
    font-family: avenir demi;
    src: url(../../assets/Font/AvenirNextLTPro-Demi.otf);
}