
$primary-text: #323232;
$secondary-text: #AFAFAF;
$light-text: #FFFFFF;
$hover-color: #000000;
$divider-color: #E1E1E1;
$alt-bg: #FAFAFA;
$dark-black: #000000;


$tablet: 768px;
$large-pc: 1268px;


@font-face {
    font-family: avenir;
    src: url(../../assets/Font/AvenirNextLTPro-Bold.otf) format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: avenir;
    src: url(../../assets/Font/AvenirNextLTPro-Demi.otf) format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: avenir;
    src: url(../../assets/Font/AvenirNextLTPro-Regular.otf) format("woff2");
    font-weight: 400;
    font-style: normal;
}

