@font-face {
  font-family: avenir bold;
  src: url(../../assets/Font/AvenirNextLTPro-Bold.otf);
}
@font-face {
  font-family: avenir demi;
  src: url(../../assets/Font/AvenirNextLTPro-Demi.otf);
}
.navbar {
  background-color: #323232;
  color: #FFFFFF;
}
.navbar__header a {
  text-decoration: none;
  color: #FFFFFF;
}
.navbar__header a:active, .navbar__header a:link {
  color: #FFFFFF;
  text-decoration: none;
}
.navbar__item {
  border-bottom: 5px solid transparent;
  padding-bottom: 20px;
}
.navbar__item:hover {
  border-bottom: 5px solid #FFFFFF;
}
.navbar__item:hover * {
  color: #FFFFFF;
}
.navbar__list {
  padding-left: 0;
  width: 100%;
  display: flex;
  margin: 0;
  text-align: center;
}
.navbar__list li {
  list-style: none;
  flex: 1;
}
.navbar__list li a {
  color: #AFAFAF;
  text-decoration: none;
}

.tablet {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

@media (min-width: 768px) {
  .navbar__list {
    width: -moz-fit-content;
    width: fit-content;
  }
  .navbar__header {
    margin: 0;
    padding-left: 2rem;
  }
  .navbar__item {
    padding: 40px 0;
    margin-right: 40px;
  }
  .tablet {
    width: 35%;
    justify-content: space-evenly;
    align-items: baseline;
    align-items: center;
    min-width: 422px;
    flex-direction: row;
  }
}
.hero {
  background-image: url(../../assets/images/hero-bio.jpg);
  height: 40vw;
  background-size: cover;
  align-items: center;
}
.hero--overlay {
  background-color: rgba(50, 50, 50, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.hero__header {
  margin: 0;
  color: #FFFFFF;
  padding-left: 5%;
  font-size: max(5vw, 1.75rem);
}

.content {
  width: 90%;
  text-align: start;
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
}
.content__header {
  font-family: avenir bold;
  font-size: 1.75rem;
}
.content__img {
  background-image: url(../../assets/images/band.jpg);
  background-size: cover;
  width: 100%;
  max-height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.content__info-header {
  font-size: 1.1rem;
}
.content__quote {
  line-height: 30px;
  font-family: avenir demi;
}
.content__quote-author {
  font-family: avenir demi;
}
.content__info {
  line-height: 26px;
}

@media (min-width: 768px) {
  .content__container {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
@media (min-width: 960px) {
  .content__quote {
    width: 80%;
  }
}
.gallery {
  background-color: #FAFAFA;
  margin: 0 auto;
}
.gallery__container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 30px;
  max-width: 1400px;
  padding-bottom: 30px;
  justify-content: center;
}
.gallery__header {
  margin: 0 auto;
  padding: 30px 0;
  width: 90%;
  font-size: max(3vw, 2rem);
  max-width: 1400px;
}
.gallery__img {
  height: 250px;
  flex: 0 0 30%;
  min-width: 300px;
  background-size: cover;
}
.gallery__img--1 {
  background-image: url(../../assets/images/Photo-gallery-1.jpg);
}
.gallery__img--2 {
  background-image: url(../../assets/images/Photo-gallery-2.jpg);
}
.gallery__img--3 {
  background-image: url(../../assets/images/Photo-gallery-3.jpg);
}
.gallery__img--4 {
  background-image: url(../../assets/images/Photo-gallery-4.jpg);
}
.gallery__img--5 {
  background-image: url(../../assets/images/Photo-gallery-5.jpg);
}
.gallery__img--6 {
  background-image: url(../../assets/images/Photo-gallery-6.jpg);
}
.gallery__img--7 {
  background-image: url(../../assets/images/Photo-gallery-7.jpg);
}
.gallery__img--8 {
  background-image: url(../../assets/images/Photo-gallery-8.jpg);
}
.gallery__img--9 {
  background-image: url(../../assets/images/Photo-gallery-9.jpg);
  margin-bottom: 20px;
}

@media (min-width: 1210px) {
  .gallery__container {
    justify-content: start;
  }
  .gallery__img {
    flex-grow: 1;
  }
}
.footer {
  background-color: #323232;
  color: #FFFFFF;
}
.footer--tablet-header {
  display: none;
}
.footer__logos {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.footer__name {
  margin-top: 20px;
}
.footer__name p {
  margin: 0;
  line-height: 1.5rem;
}
.footer__info, .footer__email {
  margin: 20px 0;
  color: #AFAFAF;
}
.footer__info p, .footer__email p {
  margin: 0;
  line-height: 1.5rem;
}
.footer__container {
  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
}
.footer__header {
  padding-top: 30px;
  font-size: 2rem;
  margin-top: 0;
}
.footer__end-header {
  margin-top: 100px;
  color: #AFAFAF;
  font-size: 2rem;
}
.footer__copyright {
  margin: 0;
  padding-bottom: 16px;
  color: #AFAFAF;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-direction: column;
  }
  .footer--tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .footer--tablet > * {
    width: 30%;
  }
  .footer__logos {
    width: 10%;
  }
  .footer__logos img {
    width: 24px;
    height: 24px;
  }
  .footer--tablet-header {
    display: block;
    width: 33%;
    text-align: end;
    font-size: 2rem;
    flex-grow: 1;
  }
  .footer__end-header {
    display: none;
  }
  .footer__copyright {
    padding: 70px 0;
    width: 100%;
  }
  .footer__container-info {
    max-width: 275px;
    min-width: 220px;
  }
  .footer__header {
    max-width: 275px;
  }
}
@font-face {
  font-family: avenir;
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
}
body {
  margin: 0;
  box-sizing: border-box;
  font-family: avenir;
}/*# sourceMappingURL=bio.css.map */