@use "./partials/header" as *;
@use "./partials/hero" as *;
@use "./partials/main-content" as *;
@use "./partials/gallery" as *;

@font-face {
    font-family: avenir;
    src: url(../assets/Font/AvenirNextLTPro-Regular.otf);
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family:avenir;
    
}