@use "./partials/header" as *;
@use "./partials/hero" as *;
@use "./partials/main-content" as *;
@use "./partials/gallery" as *;
@use "./partials/footer" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;


body {
    margin: 0;
    box-sizing: border-box;
    @include avenir-regular(1rem);
    
}